<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>prospectus_materials</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>Appendix I - Expanded Literature Review.md</string>
		</array>
		<array>
			<string>Appendix II - Methodology.md</string>
		</array>
		<array>
			<string>LeBlanc Prospectus Kramer Comments.md</string>
		</array>
		<array>
			<string>Appendix III- Dissertation Sources, Chapter Outline, and Plan.md</string>
		</array>
		<array>
			<string>Introduction Plan.md</string>
		</array>
		<array>
			<string>ISSUE_TEMPLATE.md</string>
		</array>
		<array>
			<string>LeBlancFinalizedProspectus2017.md</string>
		</array>
	</array>
</dict>
</plist>
