[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
spacy = "*"
progress = "*"
htrc-feature-reader = "*"
matplotlib = "*"
gensim = "*"
scipy = "*"
sklearn = "*"
nltk = "*"
numpy = "*"
scikit-learn = "*"
networkx = "*"
beautifulsoup4 = "*"
requests = "*"
altair = "*"
notebook = "*"
vega = "*"
seaborn = "*"

[dev-packages]
